<main class="flex flex-col sm:flex-row mt-7 relative">
  <!-- Botón Hamburguesa -->
  <button
    #hamburgerBtn
    class="sm:hidden absolute top-0 right-5 z-50 mt-2 text-white bg-gray-800 p-2 rounded-md"
    (click)="toggleMenu()"
  >
    <svg
      *ngIf="!menuOpen"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>

    <svg
      *ngIf="menuOpen"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>

  <!-- Overlay (Capa Oscura) -->
<!-- Overlay (Capa Clara) -->
<div
  *ngIf="menuOpen && isSmallScreen"
  class="fixed inset-0 z-30 transition-opacity duration-300 bg-indigo-900/40 bg-opacity-20"
  (click)="menuOpen = false"
></div>




  <!-- Menú lateral -->
  <nav
    class="bg-gray-800 fixed sm:static top-0 left-0 h-full sm:min-h-[calc(100vh-3.0rem)] w-[270px] sm:w-[370px] z-40 transition-transform duration-300 ease-in-out transform
    sm:translate-x-0 p-5 rounded-none sm:rounded-3xl backdrop-blur-sm flex-col text-white"
    [ngClass]="{
      'translate-x-0': menuOpen,
      '-translate-x-full': !menuOpen && isSmallScreen
    }"
  >
    <h1
      class="w-fit font-bold text-3xl bg-gradient-to-br from-white via-gray-300 to-indigo-500 bg-clip-text text-transparent"
    >
      AngularGPT<span class="text-indigo-500">.</span>
    </h1>
    <h6
      class="w-fit font-thin m-auto bg-gradient-to-r from-indigo-400 via-pink-500 to-red-500 bg-clip-text text-transparent"
    >
      Nicolás Carrasco
    </h6>

    <div class="border-gray-700 border my-3"></div>

    @for (route of routes; track route.path) {
      <app-sidebar-menu-item
        [description]="route.data!['description']"
        [icon]="route.data!['icon']"
        [title]="route.data!['title']"
        [path]="route.path!"
        (itemClicked)="handleItemClick()"
      />
    }
  </nav>

  <!-- Sección principal -->
  <section
    class="mx-3 sm:mx-20 flex flex-col w-full h-[calc(100vh-50px)] bg-gray-900 backdrop-blur-sm p-5 rounded-3xl"
  >
    <div class="flex h-full flex-row">
      <div class="flex flex-col flex-auto p-1">
        <router-outlet />
      </div>
    </div>
  </section>
</main>
